@import url(http://fonts.googleapis.com/css?family=Lato:300|Rancho);
* {
  box-sizing: border-box; }

html {
  font-size: 8px;
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

a:link {
  text-decoration: none; }

h1 {
  font-family: 'Rancho', cursive;
  font-size: 4vw;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #48002f; }

h1 a:link {
  text-decoration: none;
  box-shadow: inset 0 -20px 0 0 #ff8851;
  color: #da303a;
  padding: 0 6px; }

h1 a:hover {
  background: #ff8851; }

h1 a:visited {
  color: #da303a; }

em {
  text-decoration: none;
  color: #9b1033;
  padding: 0 6px; }

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.2vw;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #ffb07e; }

.shell {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #110022;
  background-image: url(../img/stars.svg);
  height: 100%; }

.frame {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url(../img/planet-comet.svg);
  background-repeat: no-repeat;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.space {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding: 1.5rem 1.5rem 0; }

.scenery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 12;
  -ms-flex: 12;
  flex: 12;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 10vmin; }

.chat {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffb07e;
  padding: 5vmin;
  margin: 0 -1px 0 1rem; }

.chat-arrow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url(../img/chat-arrow.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 10vmin; }

.character {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  background-image: url(../img/astronaut-ryan.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 2vmin; }

.choices {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.choice-button-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.button, .button_cta {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #48002f;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #b3b3b3; }
  .button:hover, .button_cta:hover {
    background-color: #9b1033; }

.button_cta {
  background-color: #9b1033; }
  .button_cta:hover {
    background-color: #da303a; }

@media all and (orientation: portrait) {
  h1 {
    font-size: 5vw; }

  h2 {
    font-size: 4.5vw; }

  .choices {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .character {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 8;
    -ms-flex: 8;
    flex: 8; }

  .planet {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4; } }
