///////////////////////////
///	PROJECT VARIABLES	///
///////////////////////////

$img-path : "../img/";	///	path to images

///	COLORS
///	1 - darkest
///	9 - brightest

$color1:#110022;
$color1_5:rgba(17, 0, 34, 0.8);
$color2:#48002f;
$color3:#9b1033;
$color4:#da303a;
$color5:#fc6339;
$color6:#ff8851;
$color7:#ffb07e;
$color8:#ffdab2;
$color9:#fffbf4;

///////////////
///	IMPORTS	///
///////////////
@import 'partials/base';
@import 'partials/type';
@import 'partials/mixins';
@import 'partials/flexboxes';
@import	'partials/media-queries';