///////////////////////////////////////////
///	UNIQUE STYLES FOR PORTRAIT SCREENS	///
///////////////////////////////////////////

@media all and (orientation: portrait) {

  h2 {font-size: 4.5vw;}/// controls choice button font-size in portrait

	.choices {flex-direction: column;}///	stacks all 4 choice buttons vertically when in portrait
	.bioware-style-conversation-wheel {display: none;}///	hides conversation wheel when in portrait
}