@import url(http://fonts.googleapis.com/css?family=Lato:300|Rancho);

h1 {
	font-family: 'Rancho', cursive; ///	cursive fallback if font fails
	font-size:   $h1;               ///	responsive type huzzah
	text-align:  center;			      ///	horizontally centered
	margin:      0;                 ///	no margin
	padding:     0;                 ///	no padding
  color:       $color2;           ///  this is set in import.scss
}

h1 a:link {
  text-decoration: none;
  box-shadow: inset 0 -20px 0 0 $color6;
  color:$color4;
  padding:  0 6px;
}

h1 a:hover {
  background: $color6;
}

h1 a:visited {
  color:$color4;
}

em {
  text-decoration: none;
  color:$color3;
  padding:  0 6px; 
}

h2 {
	font-family: 'Lato', sans-serif; ///	sanserif fallback
	font-size:   2.2vw;              ///	responsive type huzzah
	margin:      0;                  ///	no margin
	padding:     0;                  ///	no padding
	font-weight: normal;             ///	normal weight
  color:       $color7;
}

///MODIFIERS

.smaller-type {
font-size:  $h1/1.4;
}

.smaller-type a:link {
  box-shadow: inset 0 -10px 0 0 $color6;
}