@import url(http://fonts.googleapis.com/css?family=Lato:300|Rancho);

h1 {
	font-family: 'Rancho', cursive; ///	cursive fallback if font fails
	font-size:   4vw;                  ///	responsive type huzzah
	text-align:  center;					       ///	horizontally centered
	margin:      0;                      ///	no margin
	padding:     0;                      ///	no padding
  color:       $color2;                ///  

}

h2 {
	font-family: 'Lato', sans-serif; ///	sanserif fallback
	font-size:   2.2vw;              ///	responsive type huzzah
	margin:      0;                  ///	no margin
	padding:     0;                  ///	no padding
	font-weight: normal;             ///	normal weight
  color:       $color7;
}